{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}



    <div class="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="breadcrumb-content">
              <h2>Blog</h2>
              <ul>
                <li><a href="/">Home</a></li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                    />
                  </svg>
                </li>
                <li>Blog</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-area">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="blog-item-list">
              <div class="blog-item">
                <div class="blog-image">
                  <a href='/blog-details'><img src="{% static 'assets/img/blog/1.jpg' %}" alt="blog"
                  /></a>
                  <div class="blog-date">
                    <strong>18</strong>
                    May
                  </div>
                </div>
                <a href='/blog-details'><h2>Show your journey inspire the world</h2></a
                >
                <ul>
                  <li><a href="#">By admin</a></li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <circle cx="8" cy="8" r="8" />
                    </svg>
                  </li>
                  <li><a href="#">Category</a></li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <circle cx="8" cy="8" r="8" />
                    </svg>
                  </li>
                  <li><a href="#">Comments(05)</a></li>
                </ul>
                <p>
                  Aliquam eros justo, posuere loborti viverra lao ullamcorper
                  posuere viverra .Aliquam eros justo, posuere lobortis non,
                  viverra laoreet augue mattis start fermentum ullamcor viverra
                  laoreet By Admin . Creativity . 28th February 2022 . Leave a
                  comment viverra laoreet augue mattis start fermentum start
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-image">
                  <a href='/blog-details'><img src="{% static 'assets/img/blog/2.jpg' %}" alt="blog"
                  /></a>
                  <div class="blog-date">
                    <strong>18</strong>
                    May
                  </div>
                </div>
                <a href='/blog-details'><h2>Show your journey inspire the world</h2></a
                >
                <ul>
                  <li><a href="#">By admin</a></li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <circle cx="8" cy="8" r="8" />
                    </svg>
                  </li>
                  <li><a href="#">Category</a></li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <circle cx="8" cy="8" r="8" />
                    </svg>
                  </li>
                  <li><a href="#">Comments(05)</a></li>
                </ul>
                <p>
                  Aliquam eros justo, posuere loborti viverra lao ullamcorper
                  posuere viverra .Aliquam eros justo, posuere lobortis non,
                  viverra laoreet augue mattis start fermentum ullamcor viverra
                  laoreet By Admin . Creativity . 28th February 2022 . Leave a
                  comment viverra laoreet augue mattis start fermentum start
                </p>
              </div>
              <div class="blog-item">
                <div class="blog-image">
                  <a href='/blog-details'><img src="{% static 'assets/img/blog/3.jpg' %}" alt="blog"
                  /></a>
                  <div class="blog-date">
                    <strong>18</strong>
                    May
                  </div>
                </div>
                <a href='/blog-details'><h2>Show your journey inspire the world</h2></a
                >
                <ul>
                  <li><a href="#">By admin</a></li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <circle cx="8" cy="8" r="8" />
                    </svg>
                  </li>
                  <li><a href="#">Category</a></li>
                  <li>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-circle-fill"
                      viewBox="0 0 16 16"
                    >
                      <circle cx="8" cy="8" r="8" />
                    </svg>
                  </li>
                  <li><a href="#">Comments(05)</a></li>
                </ul>
                <p>
                  Aliquam eros justo, posuere loborti viverra lao ullamcorper
                  posuere viverra .Aliquam eros justo, posuere lobortis non,
                  viverra laoreet augue mattis start fermentum ullamcor viverra
                  laoreet By Admin . Creativity . 28th February 2022 . Leave a
                  comment viverra laoreet augue mattis start fermentum start
                </p>
              </div>
            </div>
            <div class="blog-pagination">
              <ul>
                <li><a href="#">01</a></li>
                <li><a href="#">02</a></li>
                <li><a href="#">03</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-sidebar">
              <div class="blog-sidebar-item">
                <h2>Category</h2>
                <ul class="sidebar-category">
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Development</a></li>
                  <li><a href="#">Marketing</a></li>
                  <li><a href="#">SEO</a></li>
                  <li><a href="#">AI</a></li>
                  <li><a href="#">Web3</a></li>
                </ul>
              </div>
              <div class="blog-sidebar-item">
                <h2>Search</h2>
                <div class="sidebar-search">
                  <input type="text" placeholder="Search here..." />
                  <button type="submit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                      />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="blog-sidebar-item">
                <h2>Recent post</h2>
                <div class="sidebar-recent-post">
                  <div class="sidebar-recent-post-item">
                    <a href="#"
                      ><img src="{% static 'assets/img/blog/1.jpg' %}" alt="blog"
                    /></a>
                    <div class="blog-sidebar-post-content">
                      <ul>
                        <li><a href="#">Category</a></li>
                        <li>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-circle-fill"
                            viewBox="0 0 16 16"
                          >
                            <circle cx="8" cy="8" r="8" />
                          </svg>
                        </li>
                        <li><a href="#">Comments (3)</a></li>
                      </ul>
                      <a href="#"><p>Show your journey inspire the world</p></a>
                    </div>
                  </div>
                  <div class="sidebar-recent-post-item">
                    <a href="#"
                      ><img src="{% static 'assets/img/blog/2.jpg' %}" alt="blog"
                    /></a>
                    <div class="blog-sidebar-post-content">
                      <ul>
                        <li><a href="#">Category</a></li>
                        <li>
                          <svg
                            xmlns="http://www.w3.org/2000/'svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-circle-fill"
                            viewBox="0 0 16 16"
                          >
                            <circle cx="8" cy="8" r="8" />
                          </svg>
                        </li>
                        <li><a href="#">Comments (3)</a></li>
                      </ul>
                      <a href="#"><p>Show your journey inspire the world</p></a>
                    </div>
                  </div>
                  <div class="sidebar-recent-post-item">
                    <a href="#"
                      ><img src="{% static 'assets/img/blog/3.jpg' %}" alt="blog"
                    /></a>
                    <div class="blog-sidebar-post-content">
                      <ul>
                        <li><a href="#">Category</a></li>
                        <li>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-circle-fill"
                            viewBox="0 0 16 16"
                          >
                            <circle cx="8" cy="8" r="8" />
                          </svg>
                        </li>
                        <li><a href="#">Comments (3)</a></li>
                      </ul>
                      <a href="#"><p>Show your journey inspire the world</p></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blog-sidebar-item">
                <h2>Tags</h2>
                <ul class="sidebar-tags">
                  <li><a href="#">Ai</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Startup</a></li>
                  <li><a href="#">SEO</a></li>
                  <li><a href="#">Web3</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div>
              <div class="blog-sidebar-item">
                <div class="blog-sidebar-offer">
                  <h3>Special offer</h3>
                  <p>
                    Aliquam sto, posuere loborti viverraatamcorperAliquam sto,
                    posuere loborti viverra atti ullamcorper
                  </p>
                  <button>Download</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% include 'include/footer.html' %}
    {% endblock %} 